<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="text-center">Secrets You've Submitted</h1>
  <% if (secrets.length === 0) { %>
    <p class="text-center mt-3">No secrets submitted yet.</p>
  <% } else { %>
    <ul class="list-group mt-3">
      <% secrets.forEach(secret => { %>
        <li class="list-group-item"><%= secret.secret %></li>
      <% }); %>
    </ul>
  <% } %>
</div>

<%- include('partials/footer') %>
